<po-menu
  [p-filter]="true"
  [p-menus]="menus"
>
<div *p-menu-header-template>
  <div class="carreteiro-logo-container">
    <img class="carreteiro-logo" src="./../../../assets/logoJofege.svg"/>
  </div>
</div>

</po-menu>
